| Phone Brand | Model | OS Version | Test APP & Version | ADV | Pairing| Service Discovery | Read & Encrypt | Short Read & Write | Long Read & Write | Short Notify | Connection Success Rate (10 times)| Long Connection Stability | Note|
<<<<<<< HEAD
=======
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
>>>>>>> 1f1bbb92470b3e5dd709b2812ad25bc0f4633b65


