| Phone Brand | Model | OS Version | Test APP & Version | ADV | Pairing| Service Discovery | Read & Encrypt | Short Read & Write | Long Read & Write | Short Notify | Connection Success Rate (10 times)| Long Connection Stability | Note|
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |


ESP device which needs to be flashed to [this test program](https://github.com/espressif/esp-idf/blob/master/examples/bluetooth/ble_compatibility_test/main/ble_compatibility_test.c)